.chrisflix {
	height: 64px;
}

nav {
	background-color: red;
}

.movieMenuDiv {
	float: left;
	margin: 5px;
}

.moviePoster {
	height: 300px;
}


.movie-info {
	position: relative;
	bottom: 146px;
}

.modal-movie-poster {
	height: 300px;
	margin: 0px;
}

.movie-content {
	padding: 5px;
	/*position: relative;
	left: 100px;*/
}

.movie-info {
	position: relative;
	bottom: 170px;
	z-index: 1;
	font-weight: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color:rgba(255,255,255,0.3);
	background-color:rgba(0,0,0,0.7);
	z-index: 1;
	padding: 10px;
	width: 210px;
	visibility: hidden
}

.movie-sources {
	position: relative;
	bottom: 0px;
	display: block;
}

.movieMenuDiv:hover .movie-info {
	visibility: visible;
}

h5 {
	clear: both;
}

.searchbtn {
	margin-top: 10px;
}

@media only screen and (max-width: 768px) {

.chrisflix {
	height: 56px;
}



}