.chrisflix {
	height: 64px;
}

nav {
	background-color: red;
}

.movieMenuDiv {
	float: left;
	margin: 5px;
}

.moviePoster {
	height: 300px;
}

.movie-info {
	position: relative;
	bottom: 10px;
/*	z-index: 1;*/
/*	background-color:rgba(0,0,0,0.7);*/
	padding: 10px;
}

h5 {
	clear: both;
}

.searchbtn {
	margin-top: 13px;
}
