.chrisflix {
	height: 64px;
}

nav {
	background-color: red;
}

.movieMenuDiv {
	float: left;
	margin: 5px;
}

.moviePoster {
	height: 300px;
}

.movie-info {
	position: relative;
	bottom: 70px;
	z-index: 1;
	background-color:rgba(255,255,255,0.3);
	padding: 10px;
}

h5 {
	clear: both;
}

.searchbtn {
	margin-top: 13px;
}
